/* App.css */
.App {
  text-align: center;
  transition: background-color 0.3s ease;
}

.App.dark {
  background-color: #042743;
  color: white;
}

.App.light {
  background-color: white;
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.blank {
  color: red;
}
